body{
    text-transform: capitalize;
}
.nav-link{
    margin-right: 20px;
    font-weight: 600;
}
/* .button{
    background-color: blue !important;
    border-radius: 40px  !important;
    padding: 10px 20px  !important;
} */
#button-style{
    background-color: blue ;
    border-radius: 40px  ;
    padding: 10px 20px  ;
}
.image-main{
    margin-top: 14px;
    width: 240px;
}
#background{
    min-height: calc(100vh-76px);
    background: url(images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#bord {
    width: 300px;
    border-radius: 50px;
    background-color: rgb(231, 218, 218);
}
#icon img {
   width: 10%;
  margin: 5px ;
  padding: 5px;
}
.vl{
    border-left: 3px solid rgb(221, 226, 214);
}
#icon{
    margin-bottom: 25px;
}
#icon1{
    margin-top:  25px;
}
hr{
    border: 3px dotted rgb(155, 146, 146);
}
.back ,.back2{
    background-color: rgba(233, 233, 233, 0.843);
}
.back2{
    height: 200px;
}
.fa{
    color: yellow;
}
.last-back{
background-color: rgb(247, 238, 238);
}
.accordion-item{

background-color: red;
}
.playstore{
    width: 200px;
}
.footer{
    background-color: rgb(225, 227, 233);
}
.nav-link{
color: rgb(10, 10, 10) !important;
}